* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #eee;
}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card-front {
    height: 100%;
    width: 100%;
    background-image: url(dummy-user.png);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.card:hover .card-front {
    transform: rotateX(-180deg);
}
.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    /* text-align: center; */
}
.card:hover .card-back {
    transform: rotateX(0deg);
}
.social {
    padding-top: 10px;
}
.social ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.social ul li {
    list-style: none;
}
.social ul li:not(last-child) {
    margin-right: 10px;
}
.social ul li a{
    color: white;
}
.social ul li a .bi {
    font-size: 1.5rem;
}
.intro {
    padding: 10px;
}
.flip {
    transform: rotateX(0deg);
}